.venv/
venv/
.idea/
*.egg-info/
dist/
build/
__pycache__/
*.py[cod]
*$py.class
*.so
**/mnist.npz
**/Mushroom_dataset
**/toxic_comments.csv
*.log
*.tmp
*.bak
.ipynb_checkpoints/
transformer_training.png
tsne.html
.DS_Store
Thumbs.db
test.py
test/**